body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    color: white;
    background-color: #000;
}

/* Header styles */
.header {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 0;
    box-sizing: border-box;
    color: white;
}

.header nav ul {
    list-style: none;
    padding: 0 20px;
    margin: 0;
    display: flex;
    justify-content: center;
}

.header nav ul li {
    margin: 0 10px;
}

.header nav ul a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    background-color: transparent;
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header nav ul a:hover {
    background-color: cyan;
    color: black;
}
/* Logo Styles */
.logo {
    width: 50px;
    height: auto;
    transition: transform 0.5s ease-in-out, filter 0.5s ease-in-out;
}

.logo:hover {
    transform: scale(1.5) rotate(720deg);
    filter: brightness(1.5);
}

nav {
    display: flex;
    justify-content: center;
    flex: 1;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    transition: all 0.5s ease;
    position: relative;
}

nav ul li a::before {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 50%;
    width: 0%;
    height: 3px;
    background-color: #0066cc;
    transition: all 0.5s ease;
}

nav ul li a:hover {
    color: aqua;
    transform: scale(1.2) rotate(-5deg);
}

nav ul li a:hover::before {
    left: 0;
    width: 100%;
}

nav ul li a:active {
    transform: scale(0.9);
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.content {
    position: relative;
    top: 140px;
    text-align: center;
    color: #fff;
}

.top-image {
    width: 130px;
    height: auto;
    margin-bottom: 20px;
    transition: width 0.5s ease-in-out;
}

.adjustable-text {
    font-size: var(--text-size, 24px);
}

.HOME {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    background-image: url("../img/home-bg.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    font-size: x-large;
}

h1, h2, h3 {
    font-size: var(--text-size, 24px);
    margin: 10px 0;
}
